      <div class="row">
        <div class="col-md-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
        <li class="nav-header">Pool size</li>
              <li>2014: 1,084 piquant pickers</li>
              <li>2013: 462 proud prognosticators</li>
              <li>2012: 247 frenzied footballers</li>
              <li>2011: 129 classy combatants</li>
              <li>2010: 86 sophomore survivors</li>
              <li>2009: 46 pigskin pioneers</li>
        <li class="nav-header">Past Champions</li>
              <li>2014: David Mikulka, Divisional Rd (pickoff)
              <li>2013: Kevin Graves, Week 12</li>
              <li>2012: Alex Harris, Wildcard Wknd (pickoff)</li>
              <li>2011: David D. Zito, Week 10</li>
              <li>2010: Ken Sofer, Week 17 (pickoff)</li>
              <li>2009: Joshua Huff, Week 17</li>
              <li class="nav-header">Second-chance winners</li>
              <li>2014: Brad Hartstein (Chomp Cup)</li>
              <li>2013: Andrew Battaglini (Walrus Cup)</li>
              <li>2012: Justin Nakamura (Tate Trophy)</li>
              <li>2011: Matthew Roslin (Colts Luck Trophy)</li>
              <li>2010: Clayton Ryder II (Moss Cup)</li>
              <li>2009: Joe "P Trips" Preiner (Blount Cup)</li>
        <li class="nav-header">Most wins, all-time</li>
              <li>46, Aaron Hawkey</li>
              <li>37, Kevin Graves</li>
              <li>35, Dave Zito</li>
              <li>35, Ryan Disraeli</li>
              <li>34, Ken Terhaar</li>
              <li>28, Colin Smith</li> 
              <li>28, Rick Levy</li>
              <li>26, Alex Harris</li>
              <li>26, Rob Angarita</li> 
              <li>26, Rob Hunter</li>
        <li class="nav-header">"Moxie" pick records</li>
              <li>2014: 6-3</li>
              <li>2013: 5-4</li>
              <li>2012: 6-5</li>
              <li>2011: 1-4</li>
              <li>2010: 6-5</li>
              <li>2009: 7-4</li>
        <li class="nav-header">Most "Moxie" awards</li>
              <li>T1: Annie Meurs, 2</li>
              <li>T1: Charles Qian, 2</li>
              <li>T1: Colin Smith, 2</li>
              <li>T1: Jesse Lee, 2</li>
              <li>T1: Ken Sofer, 2</li>
              <li>T1: Rob Angarita, 2</li>
              <li>T1: Tobias Luong, 2</li>
        <li class="nav-header">Biggest BFIG Tree branch</li>
              <li>1. Grant Tunkel-Jon Shapiro (151)</li>
              <li>2. Jesse Lee (99)</li>
              <li>T3. Josh Pasch-Luke Pasch (87)</li>
              <li>T3. Nate Regan-Justin Kanter (87)</li>
              <li>5. JP Barcenas (84)</li>
        <li class="nav-header">Margin of Victory, single season</li>
              <li>290, Anthony Walker (2014)</li>
              <li>288, Josh Huff (2009)</li>
              <li>281, Alex Harris (2012)</li>
              <li>278, Tobias Luong (2009)</li>
              <li>277, Mike Preuss (2012)</li>
        <li class="nav-header">Best Survival Team</li>
              <li>2014: Arizona Cardinals (5-0 when picked, 0-2 when picked against)
              <li style="margin-top:5px;">2013: Denver Broncos (7-0 record, 163 successful picks, title-clinching pick)</li>
              <li style="margin-top:5px;">2012: Cleveland Browns<br>(Lost all 6 times they were picked against)</li>
              <li style="margin-top:5px;">2011: Green Bay Packers<br>(5 wins in 5 weeks; championship pick)</li>
              <li style="margin-top:5px;">2010: Green Bay Packers<br>(4 wins in 4 weeks; 49 total picks)</li>
              <li style="margin-top:5px;">2009: Seattle Seahawks<br>(2/2 when picked to win, and 6/6 when picked to lose)</li>
        <li class="nav-header">Worst Survival Team</li>
              <li>2014: Buffalo Bills (knocked out 286 people, including five in Week 16; huge upset win over CHI in Week 1)</li>
              <li style="margin-top:5px;">2013: Minnesota Vikings (winless in 3 weeks picked, cost 100 BFIGers their shot at glory)</li>
              <li style="margin-top:5px;">2012: Arizona Cardinals<br>(Responsible for 114/244 title pool losses)
              <li style="margin-top:5px;">2011: New York Giants<br>(eliminated 78% of field with Week 5 home loss to Seattle)</li>
              <li style="margin-top:5px;">2010: San Diego Chargers<br>(picked in 8 weeks, lost 4 of them)</li>
              <li style="margin-top:5px;">2009: Denver Broncos<br>(lost all 3 title pool picks, including decisive Week 17 blowout loss at home; helped create the Curse of Leon Hall in Week 1)</li>
        <li class="nav-header">Most Ryan Thurlow</li>
              <li>1. Ryan Thurlow (see 2013 season recap)</li>
        <li class="nav-header">Games picked winning percentage</li>
              <li>2014: 67.6%</li>
              <li>2013: 66.4%</li>
              <li>2012: 67.3%</li>
              <li>2011: 72.4%</li>
              <li>2010: 68.1%</li>
              <li>2009: 77.5%</li>
      </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="col-md-9">
          <div class="hero-unit">
            <h1>BFIG History and Records</h1>
            <h2>This pool isn't just about picking winners. It's far more than that.</h2>
            <hr>
      <p style="margin-bottom:10px; font-size:medium">It's about sustained excellence and sustained futility. It's about Eli Manning decimating 78 percent of the pool in one week. It's about the Curse of Leon Hall. It's about Moxie and it's about playing it safe. It's about so-called locks and retrospectively shaky decisions. It's about team, about family, about heart.</p>
      <p style="font-size:medium">The Commish (*sniffle*) doesn't get sappy very often, but this pool has itself some fine history. Read about it here.</p>
          <div>
           <img src="http://i.imgur.com/fCVkb70.jpg" width="800px" height="550px" border="0px" style="margin-top: 30px;" />
        </div>
      </div>
      <div class="row">
         <div class="col-md-4">
        <h2>2014 Season</h2>
        <p>Remember Dez Bryant's <del>catch</del> incompletion in the Cowboys-Packers playoff game? Yeah. That might have decided BFIG 2014.</p>
        <p><a class="btn" href="https://drive.google.com/file/d/0ByzGHqdhRukNbEVzdHE0WUdsNjg/view?usp=sharing" target="_blank">See 2014 picks &raquo;</a></p>
        <p><a class="btn" href="https://drive.google.com/file/d/0ByzGHqdhRukNNEI5UHZTUm1Nams/view?usp=sharing" target="_blank">Wildcard Weekend pickoff &raquo;</a></p>
        <p><a class="btn" href="https://drive.google.com/file/d/0ByzGHqdhRukNbzRyZ01IOXlmVWs/view?usp=sharing" target="_blank">Divisional Round pickoff &raquo;</a></p>
        <p>We had our first playoff pickoff in 2012 (champ Alex Harris went 4-0), but never before had a season gone to the Divisional Round. That changed in 2014, when two brave souls battled a full 19 weeks to decide fantasy sports' most coveted title.</p>
        <p>After picking the same Wildcard Weekend slate and going 3-1 with a PIT loss, David Mikulka and Anthony Walker found themselves almost fully aligned again the next week. Only David had Green Bay, and Anthony had Dallas.</p>
        <p>Do you remember what you did when Dez caught it, then didn't catch it, then definitely caught it, then definitely didn't catch it?</p>
        <p>Yeah, you screamed. You texted your Cowboys fan friends three sad face emojis. You Snapchatted your Packers fan friends your naked ass.</p>
        <p>Imagine what Anthony must have done. If a Super PAC is ever formed to change the catch rule in the NFL, we know who'll be the mastermind behind it.</p>
        <p>Who knows if that call would have flipped the game's result, but we do know that Mr. David Mikulka ended up taking home the title belt.</p>
        <p>A few short months later, David's Duke Blue Devils won the NCAA basketball championship, meaning he'll never have a better sports fan season in his lifetime.</p>
        <p>Unless he wins a second BFIG title, of course. But is that even possible?</p>
        <p>Ask me again after BFIG season 92. You're damn right I'll still be writing the weekly emails.</p>
      </div>
        <div class="col-md-4">
        <h2>2013 Season</h2>
        <p>Everything that is good about the NFL, about survival, and about borderline-psychotic underdog bets combined to produce as perfect a survival season as you'll find.</p>
        <p><a class="btn" href="https://drive.google.com/file/d/0ByzGHqdhRukNekMzeHhXV180eHM/edit?usp=sharing" target="_blank">See 2013 picks &raquo;</a></p>
        <p><a class="btn" href="https://drive.google.com/file/d/0ByzGHqdhRukNd2ljSG94OWZVODQ/edit?usp=sharing" target="_blank">10th thru 25th Pickoff &raquo;</a></p>
        <p>Heading into the season, NFL pundits were predicting a "chalk" year - a rare case where last year's playoff teams remained on top.</p>
        <p>BFIG 2013 saw a ridiculous 18 picked teams go down in the first three weeks. So much for chalk.</p>
        <p>After five weeks, just 118 out of 462 remained. But when weeks 6 through 9 saw just 38 survivors go down, there was a feeling that maybe 2013 would still go the distance. Maybe the waves had calmed for good.</p>
        <p>The remaining field pointed at the 0-8 Jaguars, losers by a (historically bad) 198 points through the season's first half, and saw a clear path to BFIG glory.</p>
        <p>Well, everyone except Ryan Thurlow.</p>
        <p>Thurlow shocked the world by picking Jacksonville to win on the road at 4-4 Tennessee. A pick that was opposed by 61 of the remaining 77 survivors.</p>
        <p>The Commish received a few jokes at Thurlow's expense once the picks were revealed. At halftime, that turned into a few worried texts. In the fourth quarter, it was emails asking about Thurlow's mob connections. And after Jacksonville won, there were calls to end the pool immediately and give the man behind the gutsiest pick in survival history the title belt.</p>
        <p>Long live Ryan Thurlow, the only person without a title belt to be inducted into the BFIG Hall of Fame.</p>
        <p>That's right. Without a title belt. Because two weeks later, Thurlow and three others in the final group of 8 lost by picking against the Jaguars. Three more lost by trusting the never-trust-'em Lions. And we were left with just one.</p>
        <p>Kevin Graves: BFIG original, near-season 1 champ, owner of the most absurd (read: genius) survival analysis spreadsheet known to man. </p>
        <p>Kevin won the Thursday night game, jetted off to Iceland, and upon word he'd won the title belt, promptly drank 20 beers and two handles of vodka in a retractable roof igloo hot tub while singing songs of football merriment with the (viking) survival gods.</p>
        <p>Because how else can you explain a survival pool of 462 people lasting just 12 weeks? Kevin must have an in with the survival gods.</p>
      </div>
        <div class="col-md-4">
        <h2>2012 Season</h2>
        <p><em>2012 BFIG: The Movie</em> was like a horror film in reverse. We started with several weeks of sheer terror, then hit an oddly long stretch of peace, and ended with a bang.</p>
        <p><a class="btn" href="https://docs.google.com/file/d/0ByzGHqdhRukNV2VDMXFLM1RacHc" target="_blank">See 2012 picks &raquo;</a></p>
        <p><a class="btn" href="https://docs.google.com/file/d/0ByzGHqdhRukNNGFFZ1ZrYnY4Sjg" target="_blank">Wildcard Wknd pickoff &raquo;</a></p>
        <p>We had our best Week 1 ever, racking up 230 wins to just 17 losses. "We got this," the BFIG masses said in unison. Then came Week 2.</p>
        <p>A full 103 survivors took the safe route in Week 2, picking the Patriots to steamroll the lowly Cardinals. If only it was that easy.</p>
        <p>The Patriots became just the 15th team in the last 10 years to lose when favored by at least 13 points. The carnage continued in Week 3, and we were left with just 31 title poolers going into Week 4.</p>
        <p>Of the nine squads picked in Week 3, only two (Chicago and Dallas - two non-playoff teams at year's end) won their games. Losers included San Francisco, Green Bay, Indy, and Washington - four 2012 playoff teams. Go figure.</p>
        <p>With just 31 remaining survivors and 14 regular season weeks left, you had to figure this was headed for a 2011-esque ending (Week 10).</p>
        <p>But while we had some minor upsets and surprises along the way, three brave gentlemen made it all the way through the regular season unscathed.</p>
        <p>Thus, BFIG prepared for its first-ever playoff pickoff to determine a champion. Alex Harris (the Wolverine), Colin Smith (the Buckeye), and Mike Preuss (the Hoosier) were set to do battle.</p>
        <p>After victories by the Packers, Seahawks, Ravens, and Texans, Alex Harris emerged from the BFIG battlefield with nary a scar. A perfect 21-0 season gave Mr. Harris the Belt and a spot in the BFIG Hall of Fame.</p>
        <p>Four seasons, four champions, but still a critical question lingers: What's the survival norm? Shocking carnage or sustained excellence?</p>
        <p>We look to 2013 for the answer.</p> 
      </div><!--/span-->
      </div>
        <div class="row">
            <div class="col-md-4">
              <h2>2011 Season</h2>
              <p>After two seasons where a field of less than 100 entrants made it 17 weeks and 16 weeks, respectively, The Commish was left to wonder whether his network should collectively quit its day jobs and start an offshore gambling operation.</p>
        <p><a class="btn" href="https://docs.google.com/open?id=0ByzGHqdhRukNMkpiVG5yMDdEX0E" target="_blank">See 2011 picks &raquo;</a></p>
        <p>Quite simply: Survival pools aren't supposed to last that long.</p>
        <p>Enter 2011. We had 129 survival hopefuls show up for a shot at the coveted NBFIGSP title belt. If we made it the distance with 46 and 86 people in the prior two years, then what could possibly stop us this year?</p>
        <p>Turned out just one man had what it took to stop us. His name was Eli Manning.</p>
        <p>After four weeks, the pool was motoring along as you'd expect - roughly half the pool had been knocked out in the always-tough-to-pick early weeks. But Week 5 was especially threatening. There wasn't a game with a spread larger than 10 points.</p>
        <p>The Seahawks were the 10-point underdog, and, well, they had looked pretty awful to that point. In Week 2, they lost 24-0 at Pittsburgh. Seattle's opponent was the New York Giants (2011's eventual Super Bowl champs), who were on an impressive three-game winning streak.</p>
        <p>The game looked to be a sanctuary amid the viciously capricious NFL waters.</p>
        <p>You should know by now that every time you say something like that, the Survival gods are listening.</p>
        <p>Eli Manning threw three picks and also lost a fumble. A full 78 percent of the pool went down on this game alone. Combined with the Texans' loss on the final play of the game, and the pool had just 11 people remaining.</p>
        <p>Dave Zito, a NBFIGSP original, saw an opportunity. Win the pool, and he not only gets the title belt, but also likely becomes the winningest player in TNBFIGSP history - a title held at the time by Aaron Hawkey, Zito's good friend and sports rival.</p>
        <p>Four weeks went by and only one more person dropped out. There was, however, a clear pattern developing: Seven of the 10 survivors had picked the undefeated Packers during the first nine weeks. Zito, Ky Ryder, and Annie Choi were saving Green Bay for a later time.</p>
        <p>Week 10 was the time for Zito. Annie and Ky went with the Eagles (along with six others), helping create one of this pool's most important rules: Never pick the Eagles with the season on the line.</p>
        <p>Nine dropped out (creating a second-place pickoff in Week 11), and after the Packers annihilated the Vikings 45-7 on Monday night, David D. Zito was your third NBFIGSP champion.</p>
        <p>Don't get The Commish wrong - this pool contains unmatched survival picking skill. But 2011 proved that 17 weeks is definitely not the norm.</p>
          </div>
            <div class="col-md-4">
              <h2>2010 Season</h2>
              <p>The 2010 season saw the emergence of several TNBFIGSP truisms: Never pick games involving the Cincinnati Bengals; never pick the San Diego Chargers to win; never pick the Philadelphia Eagles when the season is on the line.</p>
        <p><a class="btn" href="https://docs.google.com/open?id=0ByzGHqdhRukNVkxWWW02OEhzTlE" target="_blank">See 2010 picks &raquo;</a></p>
        <p><a class="btn" href="https://docs.google.com/open?id=0ByzGHqdhRukNdnJncG82bjh4Z0U" target="_blank">Week 17 pickoff &raquo;</a></p>
        <p>Now in season four, we take these things for granted. In 2010, though, roughly half of our 86 compatriots were new to the pool. It was fitting, then, that heading into Week 16, we had three vets and three rookies still standing.</p>
        <p>Week 16 looked too good to be true. With 15 weeks down, how were there so many easy matchups on the board? Jacksonville (-7) over the lowly Redskins at home. Philly getting 14 points because Minnesota was coming to town... with Joe Webb at quarterback. Dallas favored by 7 at Arizona in a must-win game for the 'Boys.</p>
        <p>Silly us. Don't ever say such things to the Survival gods.</p>
        <p>All three squads went down, and thus we had our first-ever pickoff (in Week 17, no less) for the title belt.</p>
        <p>In the end, newcomer Ken Sofer emerged victorious, edging out veteran Aaron Hawkey by the slimmest of possible margins. They both picked 12 of 16 games right, but Aaron's first loss was confidence 6. Ken's first loss? Confidence 7.</p>
        <p>So wrapped the storybook season for Mr. Sofer. He won two Moxie awards en route, and needed a game-winning field goal in Week 7, Week 8, AND Week 9 to survive the gauntlet.</p>
        <p>Ken finished the season ninth in the margin of victory standings. Something tells The Commish that Ken didn't mind one bit.</p>
            </div><!--/span-->
            <div class="col-md-4">
              <h2>2009 Season</h2>
              <p>For The Commish, 2009 was a year of firsts. The Commish is a tried-and-true Packers' die-hard, and 2009 was the first year in which Brett Favre was the enemy. 2009 was the first post-collegiate NFL season for the Commish - the first time that "Hey, where should we watch the game?" was a legitimate question.</p>
        <p><a class="btn" href="https://docs.google.com/open?id=0ByzGHqdhRukNYmZMTzBfbER3S00" target="_blank">See 2009 picks &raquo;</a></p>
        <p>And perhaps because he was no longer allowed to be a sportswriter for The Daily Trojan, 2009 became the inaugural season of <em>THE</em> NFL (Brett Favre Isn't Gonna) Survival Pool.</p>
        <p>46 fearless souls - mostly friends, family, and co-workers - climbed aboard. The very last of the 46 was The Commish's roommate, Joshua Masayoshi Huff. May I repeat: This man was The Commish's ROOMMATE of all people... and he didn't join until the very last day before opening kickoff.</p>
        <p>Naturally, Josh Huff (not to be confused with the Oregon wide receiver) blazed through all 17 weeks without a single loss. After his Redskins eeked out a two-point victory in Week 2, he went an amazing 12 straight weeks without a game closer than seven points. When Tyler Hannasch and Joe Turner's Week 17 pick (the Denver Broncos) got blown out at home, the title belt belonged to Mr. Huff.</p>
        <p>It was a perfect season. And a perfect coronation for the world's best survival pool.</p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <!-- END -->
