<div class="jumbotron">
	<h1>The Fine Print</h1>
	<h2 style="margin-top:0">What? You don't think The Commish is thorough?</h2>
	<hr>

	<h4 id="rules" style="margin-bottom:5px;font-size:medium;">Full Rules</h4>
	<ol>
		<li>The Green Bay Packers will probably win the Super Bowl. This is not a rule, but The Commish has the authority to state this whenever he so pleases.</li>
		<li>BFIG is a sports community and skill-based, fantasy sports game. To win, you must possess knowledge of NFL teams' relative strength and the myriad other variables that affect which team wins each game. You must also apply a unique strategy over several months, related to which teams you pick at which times. Point spreads do not play a role in BFIG. The prizes awarded in BFIG are not based on the outcome of any single game or any single player performance. BFIG provides no information to participants that would reduce the impact of knowledge and skill on the outcome. BFIG is not a gambling business. BFIG does not take any profit from entry fees. BFIG is not open to people residing in Arizona, Arkansas, Florida, Iowa, Kansas, Montana, Louisiana, or Tennessee.
		<li>You pick one team per week as the winner of its game. You submit your pick via this website.</li>
		<li>Weekly picks open after the Monday Night Football game, at approximately 11:30pm (PST). You can submit your pick at any point between then and 10 minutes before the week's first game. Starting in 2014, the week's first game always falls on a Thursday, so if you don't submit your pick by 5:10pm (PST) on Thursday, you are eliminated. Pay attention to the schedule, and emails from me reminding you to make your pick.</li>
		<li>There is one and only one exception to the pick deadline, and that's in Week 1. In Week 1, if you pick Thursday's opening game, you must submit your pick by the normal time (5:10pm PST on Thursday). If you don't pick Thursday's game, you can submit your pick at any point until 9:50am PST on Sunday. All players who picked the Thursday game will be announced to the full pool via email on Thursday. The rest of the picks will be revealed Sunday before kickoff. Again, this ONLY applies to Week 1. For all other weeks, you must submit your pick by Thursday at 5:10pm (PST) or you are eliminated.
		<li>You can change your pick at any time as long as you submit the change by 5:10pm (PST) Thursday.</li>
		<li>You cannot pick the same team twice.</li>
		<li>If your pick wins its game, then you move on to the next week. The last undefeated person wins the title.</li>
		<li>There will be one, and only one, champion each season.</li>
		<li>Ties count as losses. However, if you tie, and all other remaining players lose, then you claim the championship.</li>
		<li>If you lose in Weeks 1-4, then you are eligible for the Second Chance Pool, which will start in Week 5. In this Pool, you start fresh (all teams can be picked) and you pick one winner per week until Week 10, when if you are still alive, you start picking two teams per week. The winner of the Second Chance Pool wins the trophy formerly known as the "Blount Cup," the "Moss Cup," the "Colts Luck Trophy,"  and the "Walrus Cup." (New name TBD.)</li>
		<li>If there are multiple people who pick correctly in each of the regular season&#39;s 17 weeks, or if all remaining players lose in the same week, then we will move to a tiebreaker that takes place the following week.</li>
		<li>In a tiebreaker scenario - also called a "pickoff" - players pick the winners of all games being played that week. Players must assign a "confidence ranking" to each game -- the pick you are most confident about gets a "1." The tiebreaker winner is determined by the number of games chosen correctly. If players tie on this criteria, then the player who had the lowest confidence ranking assigned to the first incorrect pick is the winner. If there's still a tie, we move to the confidence ranking of the second incorrect pick, and so on, until the tie is broken. If the tie can't be broken, then we do another tiebreaker the following week.</li>
		<li>If there is a tie for any place other than 1st, and the last place that earns a prize is not being contested, then all tied players will split the combined prizes for those places.</li>
		<li>If one of the places being contested is the last place that earns a prize, then a tiebreaker must occur. (There is no option to split the prize because one or more people will not earn a prize.)</li>
		<li>In the case where it appears probable that a season-long tie may occur (multiple people tying in pickoffs all the way through the Super Bowl), Commish reserves the right to alter the rules in a way that will produce a single champion. In the case this occurs, Commish will make changes prior to the following year that will reduce the likelihood of this happening again.
		<li>Have fun. You know Gronk would.</li>		 
	</ol>
</div>