<div class="jumbotron">
	<h1>The Fine Print</h1>
	<h2 style="margin-top:0">What? You don't think The Commish is thorough?</h2>
	<hr>

	<h4 id="rules" style="margin-bottom:5px;font-size:medium;">Full Rules <span style="font-size:small">(read the first 8 for 99.9% of what you need to know)</span></h4>
	<ol>
		<li>The Green Bay Packers will probably win the Super Bowl. This is not a rule, but The Commish has the authority to state this whenever he so pleases.</li>
		<li>You pick one team per week as the winner of its game. You submit your pick via this website.</li>
		<li>All picks must be submitted by the night before the week&#39;s first game, unless otherwise stated. This game may occur on a Thursday, a Saturday or a Sunday, so pay attention to the schedule (and emails from me reminding you to make your pick)!</li>
		<li>You can change your pick at any time as long as you submit the change by 11:59 p.m. PST the night before the week&#39;s first game.</li>
		<li>You cannot pick the same team twice.</li>
		<li>If your pick wins its game, then you move on to the next week. The last undefeated person wins the title.</li>
		<li>Ties count as losses. However, if you tie, and all other remaining players lose, then you claim the championship.</li>
		<li>If you lose in Weeks 1-4, then you are eligible for the Second Chance Pool, which will start in Week 5. In this Pool, you start fresh (all teams can be picked) and you pick one winner per week until Week 10, when if you are still alive, you start picking two teams per week. The winner of the Second Chance Pool wins the trophy formerly known as the "Blount Cup," the "Moss Cup," the "Colts Luck Trophy,"  and the "Walrus Cup." (New name TBD.)</li>
		<li>If there are multiple people who pick correctly in each of the regular season&#39;s 17 weeks, or if all remaining players lose in the same week, then we will move to a tiebreaker that takes place the following week.</li>
		<li>In a tiebreaker scenario, players pick the winners of all games being played that week. Players must assign a "confidence ranking" to each game -- the pick you are most confident about gets a "1." The tiebreaker winner is determined by the number of games chosen correctly. If players tie on this criteria, then the player who had the lowest confidence ranking assigned to the first incorrect pick is the winner. If there's still a tie, we move to the confidence ranking of the second incorrect pick, and so on, until the tie is broken. If the tie can't be broken, then we do another tiebreaker the following week.</li>
		<li>If there is a tie for any place other than 1st, and the last place that earns a prize is not being contested, then all tied players will split the combined prizes for those places.</li>
		<li>If one of the places being contested is the last place that earns a prize, then a tiebreaker must occur. (There is no option to split the prize.)</li>
		<li>Have fun. You know Gronk would.</li>		 
	</ol>
</div>