@import 'bootstrap';

$wwidth: 1170px;
// $wwidth: 920px;

// .navbar .container {
// 	width: $wwidth;
// }

// .container {
// 	width: $wwidth;
// }

//----- SPREADSHEET
.pck {
	text-align: center;
	font-weight: bold;
}


//----

ul.list {
	margin: 0 15px;
}

.controls {
	margin-left: 20px;
}
.jumbotron h1 {
	font-weight: bold;
	letter-spacing: -1px;
}

footer {
	text-align: center;
}

.nav-header {
	font-weight:bold;
	font-size:16px; 
	margin-top:15px;
}

.navbar {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(153,153,153,0.9);
    -moz-box-shadow: 0px 5px 10px 0px rgba(153,153,153,0.9);
    box-shadow: 0px 5px 10px 0px rgba(153,153,153,0.9);
}

.jumbotron .btn-large {
  font-size: 20px;
  font-weight: bold;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.jumbotron .sign-up-form {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #999;
	padding: 15px;

	label {
		position: relative;
		text-align: left;
		width: 100%;
	}
	label span {
		position: absolute;
		margin-left: 18px;
		margin-top: 13px;
		color: #aaa;
		cursor: text;
		font-size: 18px;
	}
	.sign-up-btn {
		width: 100%;
		margin-top: 15px;
	}
}

.jumbotron .sign-up-btn {
	width: 210px;
	font-size: 20px;
	padding: 14px 24px;
}

.hero-unit {
	h1 {
		font-size: 63px;
		font-weight: bold;
		letter-spacing: -1px;
	}
	h2 {
		font-size: 30px;
		margin-top: 0;
	}
}

.team_pick {
    cursor: pointer;
    padding: 5px 0 5px 5px;
    &:hover {
        /*color: #f00;*/
        /*background: #f00;*/
        background-color: #ccc;
    }

    img {
        float: left;
        margin-right: 10px;
    }
}

.old_team_pick {
	img {
		float: left;
		margin-right: 10px;
	}
	text-decoration: line-through;
}

.summary {
	margin: 10px 0 20px;
	border-bottom: 1px solid #aaa;
}

.gameForm {
	select {
		width: 150px;
		display: inline;
	}
}

.helmet-img {
	width: 100%;
}

#helmets {
	margin: 20px 10px 30px 0px;	
	div {
		padding-left: 0;
		padding-right: 0;
	}
}


#mobile-sign-up {
  	display: none;
  	width:100%;
}

@media all and (max-width: 768px) {
  .jumbotron {
  	padding-top: 5px;
  	border-radius: 0 !important;
  	margin-top: -20px;
  	margin-left: -15px;
  	margin-right: -15px;
  }
  #mobile-sign-up {
  	display: block;
  }
}

.GB { background-color: #006400; color: #FFD700; }
.CHI { background-color: #000033; color: #FF4500; }
.NYG { background-color: #003399; color: #FFFFFF; }
.DAL { background-color: #191970; color: #A0A0A0; }
.WAS { background-color: #660000; color: #FFCC00; }
.PHI { background-color: #339966; color: #FFFFFF; }
.DET { background-color: #6699FF; color: #C0C0C0; }
.NO { background-color: #996600; color: #000000; }
.CAR { background-color: #000000; color: #33CCCC; }
.ATL { background-color: #000000; color: #FF0000; }
.SF { background-color: #CC0000; color: #B8860B; }
.SEA { background-color: #A9A9A9; color: #339933; }
.STL { background-color: #000066; color: #DAA520; }
.ARI { background-color: #CC0000; color: #FFFFFF; }
.NE { background-color: #191970; color: #CC0000; }
.MIA { background-color: #339999; color: #FF6600; }
.NYJ { background-color: #006600; color: #FFFFFF; }
.CIN { background-color: #FF4500; color: #000000; }
.BUF { background-color: #000080; color: #FF0000; }
.PIT { background-color: #000000; color: #FFFF00; }
.KC { background-color: #FF0000; color: #FFFFFF; }
.OAK { background-color: #808080; color: #000000; }
.DEN { background-color: #FF6600; color: #00007A; }
.HOU { background-color: #00005C; color: #B20000; }
.IND { background-color: #FFFFFF; color: #000099; }
.TEN { background-color: #8AB8E6; color: #FFFFFF; }
.JAC { background-color: #009999; color: #000000; }
.SD { background-color: #7AA3CC; color: #FFCC00; }
.CLE { background-color: #E65C00; color: #522900; }
.BAL { background-color: #7F77AE; color: #000000; }
.TB { background-color: #966C19; color: #B20000; }
.MIN { background-color: #8B008B; color: #FFD700; }